/* Notes: 
mobile first with small fixes for larger screens
*/

@font-face { font-family: local-font-family; src: url('/resources/fonts/comfortaa/Comfortaa-Regular.ttf'); }

::selection {
	background: #84bcf4;
}

/* --- */

body, header, footer, main, nav, hr, p {
	margin: 0;
}

/* --- */

html {
	font-family: local-font-family;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
	height: auto;
	min-height: 100dvh;
	width: 100%;

	padding: 1rem;
}

header, footer, main, nav, hr {
	width: 100%;
}

header, footer {
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	justify-content: center;
	
	flex-wrap: wrap;
}

nav a {
	padding: .5rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	padding: .75rem 0px;
}

main > * {
	margin-top: .75rem;
}

main > *:first-child {
	margin-top: 0;
	padding-top: 0;
}

main > *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

form {
	display: flex;
	flex-direction: column;
}

form input:not(:last-child) {
	margin-bottom: .75rem;
}

form input[type="submit"],
form input::file-selector-button {
	padding: .4rem .9rem;
}

hr {
	margin: .8rem 0;
	border: 1px solid #5f5f5f;
	border-radius: 1rem;
}

/* --- */

h1, h2, h3, h4, h5, h6 {
	line-height: 2.5rem;
}

/* --- */

.spacer {
	margin: auto;
}

@media screen and (min-width: 501px) {
	main {
		max-width: 650px;
	}
}
