/* Notes: 
mobile first with small fixes for larger screens
*/

@font-face { font-family: local-font-family; src: url('/resources/fonts/comfortaa/Comfortaa-Regular.ttf'); }

::selection {
	background: #84bcf4;
}

/* --- */

body, header, footer, main, nav, hr, p {
	margin: 0;
}

/* --- */

html {
	font-family: local-font-family;
	word-break: break-word;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	box-sizing: border-box;
	height: auto;
	min-height: 100dvh;
	width: 100%;

	padding: 1rem;
}

header, footer, main, nav, hr {
	width: 100%;
}

header, footer {
	display: flex;
	flex-direction: column;
}

nav {
	display: flex;
	justify-content: center;
	
	flex-wrap: wrap;
}

nav a {
	padding: .5rem;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	padding: .75rem 0px;
}

main > * {
	margin-top: .75rem;
}

main > *:first-child {
	margin-top: 0;
	padding-top: 0;
}

main > *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: .75rem;

	width: 100%;
}

form fieldset {
	display: flex;
	flex-direction: column;
	
	gap: 1rem;
	padding: 1.25rem;
	padding-top: .75rem;
}

form input,
form button,
form select,
form input::file-selector-button
{
	padding: .4rem .8rem;
}

form input[type="file"] {
	padding: 0;
}

form select {
	width: 100%;
}

.horizontal_buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

	gap: .75rem;
}

dialog {
	width: auto;

    border: 1px solid #5f5f5f;

    margin: auto 1rem;
    padding: 1rem;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.4);
}

dialog > .dialog_content {
	display: flex;
	flex-direction: column;

	gap: .75rem;
}

dialog > .dialog_content > p {
	text-align: center;
}

dialog button {
	padding: .4rem .8rem;
}

hr {
	margin: .8rem 0;
	border: 1px solid #5f5f5f;
	border-radius: 1rem;
}

/* --- */

h1, h2, h3, h4, h5, h6 {
	line-height: 2.5rem;
}

/* --- */

.spacer {
	margin: auto;
}

@media screen and (min-width: 501px) {
	main {
		max-width: 650px;
	}
	
	dialog {
		width: 50%;
		max-width: 450px;

		margin: auto;
	}
}
